<div class="mt-3">
  <div class="text-lg font-bold text-gray-600 mb-3">Base CSS</div>
  <div class="bg-[#272822] p-4 rounded-md">
    <div class="bg-[#2c2c2c] text-white text-[14px] px-6 pb-2 mb-2 -mx-4 border-b border-[#606060]">{{ filename }}</div>
    <div class="min-h-20" id="ace_test_css_{{ block.id }}">
    </div>
  </div>
</div>
