{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "_card_line_item_card__subscription_selector"
  assign section_type = "card_line_item_card"
  assign label = block.settings.label
  assign select_class = block.settings.select_class
  assign custom_css = block.settings.custom_css
  assign show_conditionally = block.settings.show_conditionally
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% if line_item.variant.selling_plan_allocations.size <= 0 %}
  {% break %}
{% endif %}

{% liquid
  if show_conditionally == 'no_addon_products' and has_addon_products == true
    break
  endif
  if show_conditionally == 'addon_products' and has_addon_products != true
    break
  endif
  if show_conditionally == 'with_subscriptions' and line_item.product.selling_plan_groups.size <= 0
    break
  endif
  if show_conditionally == 'no_subscriptions' and line_item.product.selling_plan_groups.size > 0
    break
  endif
  if show_conditionally == 'with_variants' and line_item.product.variants.size <= 1
    break
  endif
  if show_conditionally == 'no_variants' and line_item.product.variants.size > 1
    break
  endif
%}

{% capture html_attributes %}data-style-id="{{ style_id }}" {% endcapture %}

{% liquid
  assign selling_plan = line_item.variant.selling_plan_allocations[0].selling_plan

  if selling_plan.price_adjustments[0].value_type == 'fixed_amount'
    assign selling_plan_discount_wording = selling_plan.price_adjustments[0].value | times: line_item.quantity | money
  endif

  if selling_plan.price_adjustments[0].value_type == 'percentage'
    assign selling_plan_discount_wording = selling_plan.price_adjustments[0].value | append: '%'
  endif

  assign current_title = line_item.selling_plan_allocation.selling_plan.name | default: 'One time purchase'

  assign values = line_item.variant.selling_plan_allocations | map: 'selling_plan' | map: 'id' | join: '||%SPLIT%||' | split: '||%SPLIT%||'
  assign titles = line_item.variant.selling_plan_allocations | map: 'selling_plan' | map: 'name'

  if line_item.product.requires_selling_plan != true
    assign values = 'undefined' | split: '|' | uniq | concat: values
    assign titles = 'One time purchase' | split: '|' | uniq | concat: titles
  endif
%}

{% render '_components.select',
    values: values,
    titles: titles,
    select_class: select_class,
    label: label,
    setState: "$data.setSubscription(+value)",
    state: "`${line_card?.line_item?.selling_plan_allocation?.selling_plan?.id}`",
    current_value: line_item.selling_plan_allocation.selling_plan.id,
    current_title: current_title,
    loading: 'line_card?.subscriptionIsChanging',
    disabled: '$cart?.isChanging || line_card?.subscriptionIsChanging',
    html_attributes: html_attributes
%}

<p
  class="text-xs opacity-70 mt-2"
  x-show="line_card?.line_item?.selling_plan_allocation?.selling_plan?.id"
>
  Additional discount applies at checkout
</p>
